<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    <style>
        table {
            border: white 1px solid;

        }
        tr {
            border: white 1px solid;
        }
        td {
            border: white 1px solid;
            width: 500px;
            height: 30px;
        }
    </style>

</head>
<body>
<table>
    <h4>Display todo list</h4>
    <tr>
        <td>Word name</td>
        <td>Time</td>
        <td>Note status</td>
    </tr>
    <tr>
        <td>{name1}</td>
        <td>{Time1}</td>
        <td>{status1}</td>
    </tr>
    <tr>
        <td>{name2}</td>
        <td>{Time2}</td>
        <td>{status2}</td>
    </tr>
    <tr>
        <td>{name3}</td>
        <td>{Time3}</td>
        <td>{status3}</td>
    </tr>
</table>
</body>
</html>