<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <style>
        table {
            border: white 1px solid;

        }
        tr {
            border: white 1px solid;
        }
        td {
            border: white 1px solid;
        }
        input {
            width: 500px;
            height: 30px;
        }
        select {
            width: 150px;
            height: 30px;
        }
        button {
            width: 150px;
            height: 30px;
            border: white 1px solid;

        }
    </style>
</head>
<body>
    <form action="" method="post">
        <h4>TODO LISTEN</h4>
        <table>
            <tr>
                <td>Word name</td>
                <td>Time</td>
                <td>Note status</td>
            </tr>
            <tr>
                <td><input type="text" name="name1"></td>
                <td><input type='text' name="time1"></td>
                <td><input type="text" name="status1"></td>
            </tr>
            <tr>
                <td><input type="text" name="name2"></td>
                <td><input type="text" name="time2"></td>
                <td><input type="text" name="status2"></td>
            </tr>
            <tr>
                <td><input type="text" name="name3"></td>
                <td><input type="text" name="time3"></td>
                <td><input type="text" name="status3"></td>
            </tr>
        </table>
        <input type="submit" value="OK">
    </form>
</body>
</html>